<button class="btn btn-primary" (click)="toggleDetails()"> Submit</button>
{{showDetails}}

@if(showDetails) {
  <div class="card" style="width: 18rem;">
    <img src="https://www.google.com/logos/doodles/2024/2024-icc-mens-t20-world-cup-6753651837110521.2-l.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
} @else {
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>twitter</td>
      </tr>
    </tbody>
  </table>
}

<hr/>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    @for(item of course; track trackCourse; let total = $count) {
      <tr>
        <!-- <tr *ngFor="let item of course"> -->
          <td>{{item.id}} {{total}}</td>
          <td>{{item.name}}</td>
        </tr>
    } @empty {
      <div>No data found</div>
    }
  </tbody>
</table>

<ul>
  @for(item of "Angular"; track item; let index = $index, first = $first, odd = $odd, even = $even, count = $count) {
    <li [class.is-first]="first">{{index}} : {{item}} {{first}} {{odd}} {{even}} {{count}}</li>
  }
</ul>

<app-track-by-example></app-track-by-example>

<label for="login" >Angular</label>
<input id="login" type="text" [(ngModel)]="color"/>
<!-- 
<input id="login1" aria-label="angular1" type="text" [(ngModel)]="color"/> -->

@switch (color) {
  @case ("red") {
    <div>Red</div>
  }
  @case ("blue") {
    <div>Blue</div>
  }
  @default {
    <div>Black</div>
  }
}


@for(key of objectKey(course1); track key) {
  <div>{{key}} : {{course1[key]}}</div>
}

<select id="course" [(ngModel)]="selectedCourse">
  @for(item of course; track item.id) {
    <option [value]="item.id">{{item.name}}</option>
  }
</select>

selectedCourse {{selectedCourse}}

<div class="blank-div"></div>

