<router-outlet />
<form [formGroup]="userForm">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input aria-label="name" (keypress)="onInputChange($event)" formControlName="name" matInput>
    @if (userForm.get('name')?.hasError('required')) {
      <mat-error>Name is <strong>required</strong></mat-error>
    }
    @if (userForm.get('name')?.hasError('minlength')) {
      <mat-error>Name should be 3 char long</mat-error>
    }
    @if (userForm.get('name')?.hasError('pattern')) {
      <mat-error>Name should follow its pattern</mat-error>
    }
    @if (userForm.get('name')?.hasError('stdCode')) {
      <mat-error>Std Code should be thr</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Country</mat-label>
    <mat-select formControlName="country">
      @for(country of countries; track country) {
        <mat-option [value]="country">{{country}}</mat-option>
      }
    </mat-select>
    @if (userForm.get('country')?.hasError('required')) {
      <mat-error>Country is <strong>required</strong></mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Comment</mat-label>
    <textarea aria-label="comment" formControlName="comment" matInput></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">Submit</button>
</form>