<label for="name">Name: </label>
<input id="name" type="text" [formControl]="name" />
<button (click)="onSubmit()" class="btn btn-primary">Submit</button>


<form [formGroup]="profileForm" (ngSubmit)="onProfileFormSubmit()">
    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName" />

    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName" />

    <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Submit</button>
</form>
<hr />
UserForm
<form [formGroup]="userForm" (ngSubmit)="onUserFormSubmit()">
    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName" />
    <!-- {{userForm.controls.firstName?.errors?.['required']}} -->
    @if(userForm.controls.firstName.errors?.['required']) {
        <div>
            First Name is required
        </div>
    }

    @if(userForm.controls.firstName.errors && userForm.controls.firstName.errors['minlength']) {
        <div>
            First Name must be at least 3 characters
        </div>
    }

    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName" />

    <div formGroupName="address">
        <h2>Address</h2>
        <label for="street">Street: </label>
        <input id="street" type="text" formControlName="street">
        <label for="city">City: </label>
        <input id="city" type="text" formControlName="city">
        <label for="state">State: </label>
        <input id="state" type="text" formControlName="state">
        <label for="zip">Zip Code: </label>
        <input id="zip" type="text" formControlName="zip">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">UserForm Submit</button>
    {{userForm.controls.firstName.errors| json}}
</form>