

<div class="container">
  <div class="row">
    <div class="col-6">
      <form #userForm="ngForm" (ngSubmit)="onSubmitUserForm(userForm)">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" name="email" minlength="5" required [(ngModel)]="userDetails.email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          @if(userForm.controls['email'] && 
          userForm.controls['email'].touched && 
          userForm.controls['email'].dirty && 
          userForm.controls['email'].invalid) {
            @if(userForm.controls['email'].errors?.['required']) {
              <div class="error">
                Email address is required.
              </div>
            }
            @if(userForm.controls['email'].errors?.['minlength']) {
              <div class="error">
                Email id should be at least 5 characters
              </div>
            }
          } 
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" pattern="\w{3,16}"  maxlength="17" name="password" [(ngModel)]="userDetails.password" class="form-control" id="exampleInputPassword1">
          @if(userForm.controls['password'] && 
          userForm.controls['password'].touched && 
          userForm.controls['password'].dirty && 
          userForm.controls['password'].invalid) {
            @if(userForm.controls['password'].errors?.['pattern']) {
              <div class="error">
                Incorrect password. Please enter right format 
              </div>
            }
          } 
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Submit</button>
      </form>
    </div>
  </div>
  <div class="row">
    userForm {{userForm.value | json}}
  </div>
  <div class="row">
    dirty {{userForm.dirty}}
  </div>
  <div class="row">
    valid {{userForm.valid}}
  </div>
  <div class="row">
    pristine {{userForm.pristine}}
  </div>
  <div class="row">
    touched {{userForm.touched}}
  </div>
</div>

<hr/>
<app-reactive-form></app-reactive-form>